{# templates/blog/show.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Blog Post</title>
</head>
<body>
<h1>Blog Post {{ id }}</h1>
<p>Content of the blog post...</p>
<a href="{{ path('blog_list') }}">Back to list</a>
</body>
</html>
